<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Bienvenue sur l'application de gestion des médicaments{% endblock %}</title>

    {% block stylesheets %}  {{ encore_entry_link_tags('app') }}{% endblock %}



</head>

<body>


<div class="limiter">



    <div class="container-login100">


        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url('{{ asset('build/images/bg-02.jpg') }}');">
					<span class="login100-form-title-1">
						Sign In
					</span>
            </div>
            {% if error %}
            <div class="alert alert-danger mb-0 rounded-0">
                <p class="text-center text-uppercase font-weight-bold text-danger">
                {{ error.messageKey | trans(error.messagedata, 'security') }}
                </p>
            </div>
            {% endif %}
            {% for message in app.flashes('success') %}
            <div class="alert alert-success mb-0 rounded-0">
            <p class="text-center text-uppercase font-weight-bold text-success">
                {{ message }}
            </p>
        </div>
            {% endfor %}
            <form class="login100-form" action="{{ path('login')}}" method="post">
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="wrap-input100 m-b-26">
                    <span class="label icon username"></span>
                    <input class="input100" type="text" name="_username" id="username" placeholder="Nom d'utilisateur ou Email" value="{{ lastUsername }}" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 m-b-18">
                    <span class="label icon password"></span>
                    <input class="input100" type="password" name="_password" id="password" placeholder="Mot de passe" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="_remember_me" id="remember_me">
                        <label class="label-checkbox100" for="ckb1">
                            Se souvenir de moi
                        </label>
                    </div>

                    <div>
                        <a href="{{ path('request.resetting')}}" class="txt1">
                            Mot de passe perdu ?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>
            </form>
            <div>
                <div style="float:right; margin-right: 20px; margin-bottom: 20px">
                    <a href="{{ path('page.register')}}" class="txt1">
                        <span class="icon register"> Créer votre compte</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('build/app.js') }}"></script>
{% block javascripts %}  {{ encore_entry_script_tags('app') }}{% endblock %}


</body>
</html>

