{%  extends "base.html.twig" %}

{%  block title %}Edition : {% endblock %}
{% block body %}


    <div class="container mt-5">
        <div class="shadow p-4 bg-light rounded border">
            <h1 >Edition du produit pour <small class="text-muted"> {{ product.medicament.name }}</small></h1>
            <div class="bb-15"></div>

    {{ include('/products/_form.html.twig', {form: form, button: 'Modifier'}) }}

    </div>
    </div>


{% endblock %}