{%  extends "base.html.twig" %}

{%  block title %}Edition : {{ groups_medic.name }}{% endblock %}
{% block body %}


    {{ include ('admin/_entete.html.twig', {action:'Ajout',type:'du groupe'}) }}

        {{ include('admin/groups/_form.html.twig') }}

    </div>
    </div>


{% endblock %}
