{%  extends "base.html.twig" %}

{%  block title %}Edition : {{ cat_medicament.name }}{% endblock %}
{% block body %}


    {{ include ('admin/_entete.html.twig', {action:'Edition',type:'de la catégorie'}) }}

        {{ include('admin/categories/_form.html.twig', {form: form, button: 'Modifier'}) }}

    </div>
    </div>


{% endblock %}