{%  extends "base.html.twig" %}

{%  block title %}Ajout d'une catégorie de médicaments{% endblock %}
{% block body %}


    {{ include ('admin/_entete.html.twig', {action:'Ajout',type:'de la catégorie'}) }}

        {{ include('admin/categories/_form.html.twig') }}

    </div>
    </div>


{% endblock %}
