{%  extends "base.html.twig" %}

{%  block title %}Edition : {{ symptome.name }}{% endblock %}
{% block body %}


    {{ include ('admin/_entete.html.twig', {action:'Edition',type:'du symptome'}) }}

        {{ include('admin/symptomes/_form.html.twig', {form: form, button: 'Editer'}) }}

    </div>
    </div>


{% endblock %}


