{%  extends "base.html.twig" %}

{%  block title %}Edition : {{ symptome.name }}{% endblock %}
{% block body %}


    {{ include ('admin/_entete.html.twig', {action:'Ajout',type:'du symtome'}) }}

        {{ include('admin/symptomes/_form.html.twig') }}

    </div>
    </div>


{% endblock %}


