{%  extends "base.html.twig" %}

{%  block title %}Edition : {{ symptome.name }}{% endblock %}
{% block body %}


    <div class="container mt-4">
        <h1>Ajout d'un symptome</h1>

        {{ include('admin/symptomes/_form.html.twig') }}

    </div>


{% endblock %}


