{%  extends "base.html.twig" %}

{%  block title %}Ajout d'un symptome{% endblock %}
{% block body %}


    {{ include ('admin/_entete.html.twig', {action:'Ajout',type:'du symptome'}) }}

        {{ include('admin/symptomes/_form.html.twig') }}

    </div>
    </div>


{% endblock %}


