{%  extends "base.html.twig" %}

{%  block title %}Modification : {{ medicament.name }}{% endblock %}
{% block body %}


    <div class="container mt-5">
        <div class="shadow p-4 bg-light rounded border">
            <h1>Modification <small class="text-muted"> du médicament</small></h1>
            <div class="bb-15"></div>

        {{ include('admin/medicaments/_form.html.twig', {form: form, button: 'Modifier'}) }}

    </div>
    </div>


{% endblock %}