{%  extends "base.html.twig" %}

{%  block title %}Edition : {{ medicament.name }}{% endblock %}
{% block body %}


    <div class="container mt-4">
        <h1>Ajout du médicament</h1>

        {{ include('admin/medicaments/_form.html.twig') }}

    </div>


{% endblock %}

{%  block stylesheets %}

{% endblock %}

{% block javascripts %}

{%  endblock %}
