{% extends "base.html.twig" %}

{% block title %}Ajout d'un médicament{% endblock %}
{% block body %}


    {{ include ('admin/_entete.html.twig', {action:'Ajout',type:'du médicament'}) }}

    {{ include('admin/medicaments/_form.html.twig') }}
    </div>
    </div>


{% endblock %}
